version: "3.9"

services:
  api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: api
    networks:
      - appnet
    environment:
      - APP_ENV=dev
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
      interval: 60s
      retries: 5
      timeout: 3s


  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    container_name: worker
    networks:
      - appnet
    depends_on:
      - api
    restart: "no" 
    environment:
      - WORKER_MODE=batch

  proxy:
    build:
      context: ./proxy
      dockerfile: Dockerfile
    container_name: proxy
    networks:
      - appnet
    depends_on:
      - api
    ports:
      - "${PROXY_PORT}:8080" 
    environment:
      - PROXY_BACKEND_HOST=api
      - PROXY_BACKEND_PORT=8000
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/"]
      interval: 60s
      retries: 5
      timeout: 3s

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    container_name: frontend
    networks:
      - appnet
    depends_on:
      - proxy
    ports:
      - "8501:8501"
    environment:
      - STREAMLIT_SERVER_PORT=8501
      - STREAMLIT_SERVER_ADDRESS=0.0.0.0

networks:
  appnet:
    driver: bridge
